<!DOCTYPE html>
{% extends 'tapp/base.html' %}
{%load staticfiles%}
   {% block body_block %}
	<head>
		<meta charset="utf-8">
		<title>Registration Form</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="{% static "fonts/material-design-iconic-font/css/material-design-iconic-font.min.css" %}">

		<!-- STYLE CSS style="background-image: url('images/bg-registration-form-2.jpg');" -->
		<link rel="stylesheet" href="{% static "css/s4.css" %}">
	</head>

	<body>

		<div class="wrapper" >
			<div class="inner">
				<form name="RegForm" action="" method="post">
					{% csrf_token %}
					<h3><span style="color:navy;">Registration Form</span></h3>
					<div class="form-group">
						<div class="form-wrapper">
							<label for="first_name">First Name</label>
							<input type="text" name="first_name" class="form-control" required>
						</div>
						<div class="form-wrapper">
							<label for="last_name">Last Name</label>
							<input type="text" name="last_name" class="form-control" required>
						</div>
					</div>
					<div class="form-wrapper">
						<label for="username">Username</label>
						<input type="text" name="username" class="form-control" required>
					</div>
					<div class="form-wrapper">
						<label for="email">Email</label>
						<input type="email" name="email" class="form-control" required>
					</div>
					<div class="form-wrapper">
						<label for="password">Password</label>
						<input type="password" name="password" class="form-control" required>
					</div>

					<button type="submit" >Register</button>
					<div class="txt1 text-center p-t-54 p-b-20">
						<span>
							<a href="/login" style="padding-left:140px;">Already member</a>
						</span>
					</div>
				</form>

			</div>

		</div>
<script type="text/javascript" rel="{% static "js/g2.js" %}"> </script>
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
{% endblock %}
